<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <title>Accueil</title>
  </head>
  <body>




  <div class="container">
    <h1>Bienvenu sur Pay my Byddy!!</h1>
    <p>Cliquer <a th:href="@{/hello}">ici</a> pour aller sur la page de connexion.</p>
  </div>
  </body>
</html>